.main-navbar {
    background-color:var(--color-primary);
}

.navbar {
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 5rem;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.btn {
    background-color:var(--color-dark);
    font-weight: var(--font-weight-bold);
    border: none;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-secondary);
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbar {
        padding: calc(var(--distance-primary)/4);
    }

    .btn {
        margin-bottom: 25px;
    }

    .navbar-left {
        margin-bottom: 1rem;
    }

    .navbar-right {
        margin-top: 1rem;
    }
}