.home {
  padding: 0.5rem;
  border-radius: 15px;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
  max-width: 1200px;
  background-color: #fff;
}

.main-hero {
  min-height: 13rem;
  margin: 3rem auto;
}

.hero-title {
  color: #807d0c;
  margin: 2rem 0rem;
  font-family: 'Tilt Prism', cursive;
  font-weight: 900;
  width: 50%;
}

.image {
  margin: 2rem auto;
  max-width: 95%;
  padding: 1rem;
  text-align: start;
  background-color: #b4b02d;
  border-radius: 15px;
}

/* hero */

.image img {
  max-width: 90%;
  height: auto;
  border-radius: 15px;
}

.image h3 {
  margin-top: 2rem;
}

.hero-text {
  text-align: start;
  flex-wrap: wrap;
  width: 100%;
  font-weight: 600;
  font-size: 30px;
  padding: 1rem;
  color: #807d0c;
}

.img-text {
  margin-top: 3rem;
  color: #fff;
  width: 70%;
}

.third-part img {
  text-align: end;
  border-radius: 15px;
  width: 90%;
  border-radius: 15px;
}

.third-part {
  text-align: start;
  margin: 2rem;
  max-width: 95%;
  padding: 1rem;
  background-color: #b4b02d;
  border-radius: 15px;
  min-height: 70rem;
}

.third-part h3 {
  margin-top: 2rem;
}

.third-part-text {
  width: 80%;
  margin: 5rem 0rem;
}

/* footer */

.footer {
  margin: auto;
  border-radius: 15px;
  background-color: #b4b02d;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 1rem;
  max-width: 95%;
  display: flex;
  flex-direction: column;
}

.footer-one {
  display: flex;
}

.footer-title {
  color: #000;
  font-family: 'Tilt Prism', cursive;
  width: 30%;
  text-align: start;
}

.footer-text {
  margin-left: 5rem;
  width: 70%;
  text-align: start;
}

.social-icon {
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 2rem;
  margin-left: 11rem;
}

.social-icon a {
  color: #fff;
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #807d0c;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .home, .main-hero, .hero{
    display: flex;
    flex-direction: column;
  }
  .hero-title{
    font-size: 2rem;
    height: 5rem;
    width: 95%;
  }
  .hero-text{
    font-size: 22px;
  }
  .image{
    margin: 0rem auto;
    max-width: 100%;
  }
  .image img {
    max-width: 100%;
  }
  .img-text{
    width: 95%;
  }
  .third-part{
    max-width: 100%;
    margin:1rem auto;
    min-height: auto;

  }
  .third-part img {
    width: 100%;
  }
  .third-part-text{
    width: 100%;
    margin: 3rem auto;
  }
  .footer, .footer-one {
    max-width: 100%;
    margin: 0rem auto;
    flex-direction: column;
  }
  .footer-title{
    margin-bottom: 2rem !important;
  }
  .footer-title , .footer-text{
    width: 100%;
    margin: auto;
  }
  .social-icon{
    text-align: start;
    text-decoration: none;
    margin:2rem !important;
    
  }

}