@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,800&family=Tilt+Prism&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-body);
  font-family: var(--font-family-primary);
}

ul {
  list-style-type: none;
}

a {
  margin: 1rem;
  text-decoration: none;
  color: var(--color-darkest);
}

:root {
  --color-dark: #BB9409;
  --color-darkest: #1f2122;
  --color-light: #fff;
  --color-primary: #D0EF8D;
  --color-secondary: #fefae0;
  --color-icons: #BB9409;

  --color-bg-body: var(--color-light);

  --distance-primary: 40px;
  --padding-primary: var(--distance-primary);
  --margin-primary: var(--distance-primary);
  --border-radius-primary: calc(var(--distance-primary) / 2);
  --border-radius-secondary: calc(var(--distance-primary)/4);

  --font-family-primary: 'Open Sans', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;


}